<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Homepage</title>
</head>
<body>

    <h1>Welcome to the Homepage</h1>

    <p>Yep</p>

    <form action="/users/create" method="POST">
        <label>Name:</label>
        <input type="text" name="name" placeholder="User XYZ" value="User XYZ">

        <label>Country:</label>
        <select name="country">
          <option value="USA">United States</option>
          <option value="UK">United Kingdom</option>
          <option value="Japan">Japan</option>
        </select>

        <button>Submit</button>
    </form>

</body>
</html>
